[submodule "repos/.github"]
	path = repos/.github
	url = git@github.com:blinklabs-io/.github.git
[submodule "repos/actions"]
	path = repos/actions
	url = git@github.com:blinklabs-io/actions.git
[submodule "repos/tx-submit-api"]
	path = repos/tx-submit-api
	url = git@github.com:blinklabs-io/tx-submit-api.git
[submodule "repos/tx-submit-api-mirror"]
	path = repos/tx-submit-api-mirror
	url = git@github.com:blinklabs-io/tx-submit-api-mirror.git
[submodule "repos/txtop"]
	path = repos/txtop
	url = git@github.com:blinklabs-io/txtop.git
[submodule "repos/docker-go"]
	path = repos/docker-go
	url = git@github.com:blinklabs-io/docker-go.git
[submodule "repos/cardano-node-api"]
	path = repos/cardano-node-api
	url = git@github.com:blinklabs-io/cardano-node-api.git
[submodule "repos/shai"]
	path = repos/shai
	url = git@github.com:blinklabs-io/shai.git
[submodule "repos/docker-cardano-configs"]
	path = repos/docker-cardano-configs
	url = git@github.com:blinklabs-io/docker-cardano-configs.git
[submodule "repos/docker-minio"]
	path = repos/docker-minio
	url = git@github.com:blinklabs-io/docker-minio.git
[submodule "repos/docker-openvpn"]
	path = repos/docker-openvpn
	url = git@github.com:blinklabs-io/docker-openvpn.git
[submodule "repos/docker-cardano-cli"]
	path = repos/docker-cardano-cli
	url = git@github.com:blinklabs-io/docker-cardano-cli.git
[submodule "repos/docker-cardano-node"]
	path = repos/docker-cardano-node
	url = git@github.com:blinklabs-io/docker-cardano-node.git
[submodule "repos/docker-cardano-wallet"]
	path = repos/docker-cardano-wallet
	url = git@github.com:blinklabs-io/docker-cardano-wallet.git
[submodule "repos/docker-cardano-db-sync"]
	path = repos/docker-cardano-db-sync
	url = git@github.com:blinklabs-io/docker-cardano-db-sync.git
[submodule "repos/docker-parity-subkey"]
	path = repos/docker-parity-subkey
	url = git@github.com:blinklabs-io/docker-parity-subkey.git
[submodule "repos/docker-wireguard"]
	path = repos/docker-wireguard
	url = git@github.com:blinklabs-io/docker-wireguard.git
[submodule "repos/docker-hydra-node"]
	path = repos/docker-hydra-node
	url = git@github.com:blinklabs-io/docker-hydra-node.git
[submodule "repos/docker-amaru"]
	path = repos/docker-amaru
	url = git@github.com:blinklabs-io/docker-amaru.git
[submodule "repos/docker-mithril-signer"]
	path = repos/docker-mithril-signer
	url = git@github.com:blinklabs-io/docker-mithril-signer.git
[submodule "repos/docker-mithril-client"]
	path = repos/docker-mithril-client
	url = git@github.com:blinklabs-io/docker-mithril-client.git
[submodule "repos/docker-haskell"]
	path = repos/docker-haskell
	url = git@github.com:blinklabs-io/docker-haskell.git
[submodule "repos/docker-kupo"]
	path = repos/docker-kupo
	url = git@github.com:blinklabs-io/docker-kupo.git
[submodule "repos/docker-ogmios"]
	path = repos/docker-ogmios
	url = git@github.com:blinklabs-io/docker-ogmios.git
[submodule "repos/adder"]
	path = repos/adder
	url = git@github.com:blinklabs-io/adder.git
[submodule "repos/adder-mobile"]
	path = repos/adder-mobile
	url = git@github.com:blinklabs-io/adder-mobile.git
[submodule "repos/cardano-compose-stacks"]
	path = repos/cardano-compose-stacks
	url = git@github.com:blinklabs-io/cardano-compose-stacks.git
[submodule "repos/cardano-up"]
	path = repos/cardano-up
	url = git@github.com:blinklabs-io/cardano-up.git
[submodule "repos/cardano-up-packages"]
	path = repos/cardano-up-packages
	url = git@github.com:blinklabs-io/cardano-up-packages.git
[submodule "repos/docs-site"]
	path = repos/docs-site
	url = git@github.com:blinklabs-io/docs.git
[submodule "repos/kb"]
	path = repos/kb
	url = git@github.com:blinklabs-io/kb.git
[submodule "repos/ansible-cardano"]
	path = repos/ansible-cardano
	url = git@github.com:blinklabs-io/ansible-cardano.git
[submodule "repos/bark"]
	path = repos/bark
	url = git@github.com:blinklabs-io/bark.git
[submodule "repos/bluefin"]
	path = repos/bluefin
	url = git@github.com:blinklabs-io/bluefin.git
[submodule "repos/bursa"]
	path = repos/bursa
	url = git@github.com:blinklabs-io/bursa.git
[submodule "repos/dingo"]
	path = repos/dingo
	url = git@github.com:blinklabs-io/dingo.git
[submodule "repos/go-bip39"]
	path = repos/go-bip39
	url = git@github.com:blinklabs-io/go-bip39.git
[submodule "repos/go-scls"]
	path = repos/go-scls
	url = git@github.com:blinklabs-io/go-scls.git
[submodule "repos/gouroboros"]
	path = repos/gouroboros
	url = git@github.com:blinklabs-io/gouroboros.git
[submodule "repos/cardano-models"]
	path = repos/cardano-models
	url = git@github.com:blinklabs-io/cardano-models.git
[submodule "repos/helm-charts"]
	path = repos/helm-charts
	url = git@github.com:blinklabs-io/helm-charts.git
[submodule "repos/issues"]
	path = repos/issues
	url = git@github.com:blinklabs-io/issues.git
[submodule "repos/nview"]
	path = repos/nview
	url = git@github.com:blinklabs-io/nview.git
[submodule "repos/ouroboros-mock"]
	path = repos/ouroboros-mock
	url = git@github.com:blinklabs-io/ouroboros-mock.git
[submodule "repos/plutigo"]
	path = repos/plutigo
	url = git@github.com:blinklabs-io/plutigo.git
[submodule "repos/terraform-modules"]
	path = repos/terraform-modules
	url = git@github.com:blinklabs-io/terraform-modules.git
[submodule "repos/merkle-patricia-forestry"]
	path = repos/merkle-patricia-forestry
	url = git@github.com:blinklabs-io/merkle-patricia-forestry.git
[submodule "repos/buidler-fest-2024-workshop"]
	path = repos/buidler-fest-2024-workshop
	url = git@github.com:blinklabs-io/buidler-fest-2024-workshop.git
[submodule "repos/cdnsd"]
	path = repos/cdnsd
	url = git@github.com:blinklabs-io/cdnsd.git
[submodule "repos/dingo-operator"]
	path = repos/dingo-operator
	url = git@github.com:blinklabs-io/dingo-operator.git
[submodule "repos/dingoctl"]
	path = repos/dingoctl
	url = git@github.com:blinklabs-io/dingoctl.git
[submodule "repos/dns-cli"]
	path = repos/dns-cli
	url = git@github.com:blinklabs-io/dns-cli.git
[submodule "repos/dns-frontend"]
	path = repos/dns-frontend
	url = git@github.com:blinklabs-io/dns-frontend.git
[submodule "repos/handshake-node"]
	path = repos/handshake-node
	url = git@github.com:blinklabs-io/handshake-node.git
[submodule "repos/infrastructure"]
	path = repos/infrastructure
	url = git@github.com:blinklabs-io/infrastructure.git
[submodule "repos/utxorpc-example"]
	path = repos/utxorpc-example
	url = git@github.com:blinklabs-io/utxorpc-example.git
[submodule "repos/vpn-frontend"]
	path = repos/vpn-frontend
	url = git@github.com:blinklabs-io/vpn-frontend.git
[submodule "repos/vpn-indexer"]
	path = repos/vpn-indexer
	url = git@github.com:blinklabs-io/vpn-indexer.git
[submodule "repos/homebrew-cardano"]
	path = repos/homebrew-cardano
	url = git@github.com:blinklabs-io/homebrew-cardano.git
[submodule "repos/www"]
	path = repos/www
	url = git@github.com:blinklabs-io/www.git
